body{
    padding: 30px;
}
.paragraph{
    font-size: 1.25rem;
    font-weight: 500;
}
.btn{
    padding: 10px 45px;
    font-size: 1.15rem;
    border-radius: 25px;
    border: 2px solid black;
    cursor: pointer;
    outline: none;
}