body{
    padding: 30px;
}
img{
    width: 450px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}
.btn{
    display: block;
    margin-top: 50px;
    padding: 10px 40px;
    font-size: 1.35rem;
    cursor: pointer;
    font-weight: 400;
    border: 2px solid black;
    outline: none;
    border-radius: 10px;
}